.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: var(--gray-color);
}

/* .content, .image{
    width: 50%;
} */

.content{
    margin-block-start: 60px;
}

.image{
    display: flex;
    justify-content: end;
}

.title{
    font-size: 35px;
    text-transform: capitalize;
    background: linear-gradient(
        to right,
        #b92b27,#1565C0
      );
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    margin-block-end: 20px;
}

.btn{
    background: var(--gradient);
    color: var(--white-color);
    padding: 20px 40px;
    letter-spacing: 1px;
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    margin-block-start: 40px;
}

.pic{
    width: 100%;
    height: 100%;
}
