.rowClass{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background: var(--gradient);
    color: var(--white-color);
}

.tabDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.tab{
    cursor: pointer;
    text-transform: capitalize;
    font-size: 18px;
}

.tab:hover{
    border-bottom: 2px solid var(--blue-color);
    padding-block-end: 5px;
    transition: all linear 0.2s;
}

.iconDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.drawerIcons{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.icon{
    background: var(--primary-color);
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawerButton{
    background: transparent;
    cursor: pointer;
    display: none;
}

.drawer{
    background: var(--gradient) !important;
    padding: 20px;
}

.drawerTab{
    text-transform: capitalize;
    cursor: pointer;
    color: var(--white-color);
}


@media (max-width: 992px){
    .drawerButton{
        display: block;
    }
    .tabDiv, .iconDiv{
        display: none;
    }
}


@media (max-width: 430px){
    .rowClass{
        padding: 10px;
    }
    .title{
        font-size: 25px;
    }
}