.rowClass{
    background: var(--gradient);
    color: var(--white-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerTitle{
    font-size: 18px;
    text-align: center;
}