body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary-color: #091057;
  --blue-color: #024CAA;
  --white-color: #fff;
  --orange-color: #FF6600;
  --black-color: #000;
  --gray-color: #686D76;
  --dark-gray-color: #3C3D37;
  --gradient: linear-gradient(159deg, rgba(0,51,102,1) 0%, rgba(15,82,186,1) 100%);
  --light-purple: #CDC1FF;
  --dark-purple: #640D5F;
}